
@{
    ViewBag.Title = "Управление пользователями";
    ViewBag.Active = "Пользователи";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<h1>Управление пользователями</h1>
<hr />
<h3>Logic...</h3>

