
@{
    ViewBag.Title = "Главная";
    ViewBag.Active = "Главная";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>Главная страница</h1>
<hr />
<h3>Создана без: стандартного шаблона, пап, мам, кредитов и смс...</h3>

